<ion-content [fullscreen]="true">
  <div class="container-background">
    <div class="background1">
      <div class="border">
        <img src="/assets/character-tutorial.png" slot="end">
      </div>
    </div>

    <div class="background2">
      <div class="border">
        <h3>{{ text }}</h3>
          <ion-buttons slot="end">
            <ion-button (click)="buttonNext()" [routerLink]="['/braille-tutorial-border-button']"> {{ buttonWord }} </ion-button>
          </ion-buttons>
      </div>
    </div>
  </div>
</ion-content>