ion-content{
  font-family:Calligraffitti !important;
  font-size:1.1em;
  .background{
    background-image: url('/assets/background-green board.png');
    background-size: cover;
    width: 100%;
    height: 100%;

    .border{
      padding: 30px;
    }
    h1{
      text-align: center;
      font-size: 30px;
      color: #FFF500;
    }
    .container{
      padding-left: 140px;
      display: inline-block;
      text-align: center;
      .button-icon{
        border-style: ridge;
        border-color: white;
        width: 200px;
        height: 200px;
        border: 10px solid;
        border-radius: 20%;
  
      }
    }
  }
}