<ion-content [fullscreen]="true">
  <div class="background">
    <ion-row class="ion-justify-content-between">
      <ion-col size="2" >{{ msgTopLeft }}</ion-col>
      <ion-col size="4" >{{ msgTopMiddle }}</ion-col>
      <ion-col size="2" >{{ msgTopRight }}</ion-col>
    </ion-row>
    
    <div class="middleContent">
      <div class="celGroup">
        <img src="/assets/braille-alphabet/braille-A.png">
      </div>
      <div class="space"></div>
      <div class="celGroup">
        <img src="/assets/braille-alphabet/braille-A.png">
      </div>
      <div class="space"></div>
      <div class="celGroup">
        <img src="/assets/braille-alphabet/braille-A.png">
      </div>
      <div class="space"></div>
      <div class="celGroup">
        <img src="/assets/braille-alphabet/braille-A.png">
      </div>
      <div class="space"></div>
      <div class="celGroup">
        <img src="/assets/braille-alphabet/braille-A.png">
      </div>
      <div class="space"></div>
      <div class="celGroup">
        <img src="/assets/braille-alphabet/braille-A.png">
      </div>
      <div class="space"></div>
      <div class="celGroup">
        <img src="/assets/braille-alphabet/braille-A.png">
      </div>
      <div class="space"></div>
      <div class="celGroup">
        <img src="/assets/braille-alphabet/braille-A.png">
      </div>
      <div class="space"></div>
      <div class="celGroup">
        <img src="/assets/braille-alphabet/braille-A.png">
      </div>
      <div class="space"></div>
      <div class="celGroup">
        <img src="/assets/braille-alphabet/braille-A.png">
      </div>
      <div class="space"></div>
      <div class="celGroup">
        <img src="/assets/braille-alphabet/braille-A.png">
      </div>
      <div class="space"></div>
      <div class="celGroup">
        <img src="/assets/braille-alphabet/braille-A.png">
      </div>
      <div class="space"></div>
      <div class="celGroup">
        <img src="/assets/braille-alphabet/braille-A.png">
      </div>
      <div class="space"></div>
      <div class="celGroup">
        <img src="/assets/braille-alphabet/braille-A.png">
      </div>
      <div class="space"></div>
      <div class="celGroup">
        <img src="/assets/braille-alphabet/braille-A.png">
      </div>

    </div>
    
    <div class="footerBox">
      <ion-row class="ion-justify-content-between">
        <ion-col size="2" >{{ msgBottomLeft }}</ion-col>
        <ion-col size="4" >{{ msgBottomMiddle }}</ion-col>
        <ion-col size="2" >{{ msgBottomRight }}</ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>