<ion-content [fullscreen]="true">
  <div class="background">
    <ion-row class="ion-justify-content-between">
      <ion-col size="2"></ion-col>
      <ion-col size="4"></ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
    <div class="border">
      <div class="container">
        <div class="button-icon" >
            
            
        </div>
        <h2>Morse</h2>
      </div>
      <div class="container">
        <div class="button-icon" >
            
            
        </div>
        <h2>Braille</h2>
      </div>
      <div class="container">
        <div class="button-icon" >
            
            
        </div>
        <h2>Português</h2>
      </div>
      <div class="container">
        <div class="button-icon" >
            
            
        </div>
        <h2>Matemática</h2>
      </div>
    </div>
    <ion-row class="ion-justify-content-between">
      <ion-col size="2">Voltar</ion-col>
      <ion-col size="4"></ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </div>
</ion-content>